
<div style="background-color: yellow;">
    <p class="p-3"style="background-color: black;color:white ;font-size:25px">Some Useful Links</p>



    <div class="container p-3" style="background-color: darkred;color:white">
        <div class="row">
            <div class="col-4">
                <ul>
                    <li >
                        <a class="ps-2 pe-2" style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;" routerLink="main" href="#">Main</a>
                        
                    </li>
                    <li >
                    <a class="ps-2 pe-2" style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;" routerLink="admin" href="#">Admin</a>
                    
                </li>
                <li >
                    <a class="ps-2 pe-2" style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;" routerLink="login"href="#">Login</a>
                    
                </li>
            </ul>
            
        </div>
        <div class="col-4">
            <ul>
                <li >
                    <a  class="ps-2 pe-2" style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;"routerLink="signup" href="#">Signup</a>
                    
                </li>
                <li >
                    <a class="ps-2 pe-2" style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;" routerLink="canteen" href="#">Canteen</a>
                    
                </li>
                <li >
                    <a class="ps-2 pe-2" style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;" routerLink="accomodation" href="#">Accomodation</a>
                    
                </li>
            </ul>
            
        </div>
        <div class="col-4">
            <ul>
                <li >
                    <a class="ps-2 pe-2 " style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;" routerLink="feedback" href="#">Feedback</a>
                    
                </li>
                <li >
                    <a class="ps-2 pe-2" style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;" routerLink="employeeform"href="#">Employeeform</a>
                    
                </li>
                <li >
                    <a class="ps-2 pe-2" style="color:black ;font-weight:bold;background-color:white;border-radius: 2px;" href="#">Unused link</a>
                    
                </li>
            </ul>
            
        </div>
    </div>
</div>
</div>