<nav class="navbar" style="background-image: linear-gradient(to right,rgb(234, 237, 211),rgb(211, 228, 193),rgb(191, 217, 227));">
    <div class="container-fluid d-flex align-items-center"  >
      <a class="navbar-brand ms-5" href="#">
        <img src="/assets/navbarlogo.jpg" alt="Logo" style="height:8vh ;width:10vw"   class="d-inline-block align-text-top  ">
        
      </a>
      <p class="me-5 mt-2" style="font-size:20px; font-weight:bold">Welcome To Our Employee Facilities Management System</p>
    </div>
  </nav>
  
  
  <nav class="navbar navbar-expand-md pt-3 pb-3 " style=" background-image: linear-gradient(to right ,rgb(170, 170, 232),rgb(169, 201, 222),rgb(194, 160, 232));">
    <div class="container-fluid  " style="background-attachment: fixed;">
      <div class="ms-xl-2 "><a class="navbar-brand ms-xl-2 " style="font-weight: bold; font-size: 3vw;" href="#">XYZ </a></div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse me-5 " id="navbarNav">
        <ul class="navbar-nav ms-auto me-5 ">
          <li class="nav-item">
            <a class="nav-link active pt-1 pb-1 ps-lg-3 pe-lg-3 me-xl-1" style="color:white;border-radius:7px;background-color:rgb(94, 33, 33);font-weight:bold;font-size:2vw ;border:3px solid white;" aria-current="page" routerLink="main">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pt-1 pb-1 ps-lg-2 pe-lg-2 me-xl-1 " style="color:white;border-radius:7px;background-color:rgb(94, 33, 33);font-weight:bold;font-size:2vw; border:3px solid white;" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pt-1 pb-1 ps-lg-2 pe-lg-2 me-xl-1 " style="color:white;border-radius:7px;background-color:rgb(94, 33, 33);font-weight:bold;font-size:2vw; border:3px solid white;" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pt-1 pb-1 ps-lg-2 pe-lg-2 me-xl-1 " style="color:white;border-radius:7px;background-color:rgb(94, 33, 33);font-weight:bold;font-size:2vw;border:3px solid white;" routerLink="feedback">FeedBack</a>
          </li>

        




          <li class="nav-item">
            <a class="nav-link active pt-1 pb-1 ps-lg-2 pe-lg-2 " style="color:white;border-radius:7px;background-color:rgb(94, 33, 33);font-weight:bold;font-size:2vw;border:3px solid white;" routerLink="canteen">Canteen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pt-1 pb-1 ps-lg-2 pe-lg-2 " style="color:white;border-radius:7px;background-color:rgb(94, 33, 33);font-weight:bold;font-size:2vw;border:3px solid white;" routerLink="employeeform">EmployeeForm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active pt-1 pb-1 ps-lg-2 pe-lg-2 " style="color:white;border-radius:7px;background-color:rgb(94, 33, 33);font-weight:bold;font-size:2vw;border:3px solid white;" routerLink="accomodation">Accomodation</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>